---
title: Iorgu SPRL  nettoyage

---
<h1 class="flow-text center">Nettoyage</h1>
<div class="container">
<div class="row">
<div class="col s12 m6">
<p>Pas le temps ou l'envie de nettoyer? Si vous souhaitez que votre intérieur soit propre et agréable à tout moment, Iorgu SPRL est à votre service. Notre équipe spécialisée en nettoyage ne ménage pas ses efforts pour faire briller aux éclats toute la maison. Vous pouvez nous faire confiance pour un travail efficace et bien fait.</p>
<div class="center">
<%= image_tag "outils.jpg", :class => "responsive-img center" %>
</div>
</div>
<div class="col s12 m6 right">
<%= partial "shared/contact" %>
</div>
</div>
</div>
