---
title: IORGU SPRL Stores

---

<h1 class="flow-text center">Habillage de fenêtre</h1>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <p> Faites appel à notre équipe de spécialistes pour la pose de vos stores. Iorgu SPRL est à votre écoute pour réaliser votre projet exactement comme vous le souhaitez. Nous mettons tout en oeuvre pour vous satisfaire et fournissons un travail de qualité.  </p>
      <div class="center">
        <%= image_tag 'stores.jpeg', :class=> "responsive-img" %>
      </div>
    </div>
    <div class="col s12 m6">

      <%= partial "shared/contact" %>
    </div>
  </div>
</div>
