---
title: IORGU SPRL Stores

---

<h1 class="flow-text center">Décoration de fenêtre</h1>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <p> Faites appel à nos spécialistes pour la décoration de vos fenêtres:</p>
      <ul class="browser-default">
        <li>Rideaux et voilages</li>
        <li>Stores américains, vénitiens, californiens, enrouleurs, duo</li>
        <li>Panneaux japonais</li>
      </ul>

<p>
<br>
Nous vous proposons un service de placement professionnel selon le mécanisme choisit:
<p>
<ul class="browser-default">
<li>Motorisé ou manuel</li>
<li>Rails et cache rails</li>
<li>Tringle</li>
</ul>
<p>Nous mettons tout en oeuvre pour vous satisfaire et nous fournissons un vrai service sur mesure.</p>
      <div class="center">
        <%= image_tag 'accueil-stores.jpg', :class=> "responsive-img" %>
      </div>
    </div>
    <div class="col s12 m6">

      <%= partial "shared/contact" %>
    </div>
  </div>
</div>
