---
title: IORGU SPRL Stores

---

<h1 class="flow-text center">Décoration de fenêtre</h1>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <p> Faites appel a nos spécialistes pour la décorations de vos fenêtres: rideaux et voilages, stores américains,

stores vénitiens, stores californiens, stores enrouleurs, panneaux japonais. <br><br>

Nous vous proposons un service de placement professionnel, pour toutes mécanisme de stores, motorisé ou

manuel, rails, tringle, cache rails et placement de vos tentures. <br><br>

Nous mettons tout en oeuvre pour vous satisfaire et nous fournissons un vrai service sur mesure.</p>
      <div class="center">
        <%= image_tag 'stores.jpeg', :class=> "responsive-img" %>
      </div>
    </div>
    <div class="col s12 m6">

      <%= partial "shared/contact" %>
    </div>
  </div>
</div>
