---
title: IORGU SPRL About

---
<h1 class="flow-text center">A propos de nous</h1>
<div class="container">
<p>
Iorgu SPRL est une véritable entreprise familiale. Fondée par Gabriela Iorgu en 2010, l'entreprise s'est fait connaître grâce à ses services de nettoyage efficaces et de toute confiance. Après une première expérience professionnelle, son fils, Mihai Iorgu, rejoint l'entreprise en plein développement quelques années plus tard. Mihai diversifie l'offre en créant la branche "pose de store" de l'entreprise. Forts de leur expérience, Mère et Fils mettront tout en oeuvre pour vous satisfaire. </p>
<p>n'hésitez pas à nous contacter pour des renseignements, un devis, une demande de service </p>
<%= partial "shared/contact" %>

</div>
