---
title: Bienvenue chez Iorgu SPRL

---

<h1 class="flow-text center">Bienvenue chez IORGU SPRL</h1>

<p><br></p>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <% link_to "stores/bienvenue" do %>
      <%= image_tag 'stores.jpg', :class=> "responsive-img fixed-height" %>
      <p class="center flow-text">Décoration de fenêtre</p>
      <% end %>
    </div>
    <div class="col s12 m6">
      <% link_to "nettoyage/bienvenue" do %>
      <%= image_tag 'nettoyage.jpg',:class=> "responsive-img fixed-height"%>
      <p class="center flow-text">Nettoyage professionnel</p>
      <% end %>
    </div>
  </div>
</div>
<style>
  .fixed-height{
    height: 320px!important;
  }
</style>